<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Diciembre</title>
</head>
<body>
    <h1>Diciembre</h1>
    <br> <img src="static/diciembre.jpg" width="30%">
    <br> <p>Diciembre es el mes más alegre por sus festividades como:</p>
    <ul>
        <li>Velitas</li>
        <img src="static/velitas.jpg" width="30%"> <br>

        <li>Navidad</li>
        <img src="static/navidad.jpg" width="30%"> <br>

        <li>Año nuevo</li>
        <img src="static/newyear.jpg" width="30%">
    </ul>

    <br> <a href="{{url_for('index')}}"> Click aquí para volver al index</a>

</body>
</html>