<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Abril</title>
</head>

<body>
    <table style="width:80%; border: 3px solid black">
        <tr>
            <th>Abril <br><img src="static/abril.jpg" width="30%"></th>
        </tr>

    </table>

    <p>
        El mes de abril es uno de los mejores!! 
        <br>
        <a href="{{url_for('index')}}"> Pulsa aquí para volver al index </a>
    </p>

</body>
</html>